annotated-types==0.7.0
anyio==4.6.2.post1
asttokens==3.0.0
blis==1.0.1
blurhash==1.1.4
Brotli 
catalogue==2.0.10
certifi 
charset-normalizer 
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
contourpy==1.3.1
cycler==0.12.1
cymem==2.0.10
decorator==5.1.1
dnspython==2.7.0
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing==2.1.0
fastapi==0.115.5
fastapi-cli==0.0.5
filelock 
fonttools==4.55.1
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2 
graphviz==0.20.3
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.0
huggingface-hub==0.26.3
icecream==2.1.3
idna==3.10
Jinja2 
joblib==1.4.2
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe 
Mastodon.py==1.8.1
matplotlib==3.9.3
mdurl==0.1.2
mpmath 
murmurhash==1.0.11
networkx
numpy==2.0.2
packaging==24.2
pandas==2.2.3
pillow 
preshed==3.0.9
pydantic==2.10.2
pydantic_core==2.27.1
Pygments==2.18.0
pyparsing==3.2.0
PySocks 
pytextrank==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-magic==0.4.27
python-multipart==0.0.18
pytz==2024.2
PyYAML 
regex==2024.11.6
requests 
rich==13.9.4
safetensors==0.4.5
scikit-learn==1.5.2
scipy 
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
starlette==0.41.3
sympy 
thinc==8.3.2
threadpoolctl==3.5.0
tokenizers==0.20.3
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.46.3
typer==0.14.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3
uvicorn==0.32.1
uvloop==0.21.0
wasabi==1.1.3
watchfiles==1.0.0
weasel==0.4.1
websockets==14.1
wrapt==1.17.0
